body {
  margin: 0;
  font-family: Georgia;
  background: linear-gradient(#ffe4ec, white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* LOGIN */
.container {
  text-align: center;
}

/* BOOK */
.book {
  width: 650px;
  height: 720px;
  position: relative;
}

/* PAGES */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  opacity: 0;
  transition: 0.5s;
  background: white;
  padding: 40px;
  border-radius: 20px;
}

.page.active {
  left: 0;
  opacity: 1;
}

.page.prev {
  left: -100%;
}

/* CENTER */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* IMAGE */
.coverImg {
  width: 100%;
  border-radius: 20px;
}

/* TEXT */
.storyText {
  font-family: cursive;
}

/* INPUT */
.journalBox {
  width: 100%;
  height: 120px;
  margin-top: 10px;
}

.journalBox.small {
  height: 60px;
}

/* NAV */
.nav {
  position: absolute;
  bottom: 20px;
}
